/*Importing Additional CSS*/ /*Importing Downloaded Fonts*/
@font-face {
  font-family: "Mareola";
  src: url("../fonts/Technology.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Mareola";
  src: url("../fonts/Technology-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Mareola1";
  src: url("../fonts/digital-7.ttf") format("truetype");
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(232, 230, 231);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc {
  width: 300px;
  height: 515px;
  background: rgb(34, 39, 46);
  border-radius: 30px;
  -webkit-box-shadow: 8px 8px 13px rgb(1, 2, 17), -3px -3px 5px rgb(255, 255, 255);
          box-shadow: 8px 8px 13px rgb(1, 2, 17), -3px -3px 5px rgb(255, 255, 255);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
}
.calc__child {
  width: 100%;
  height: 100%;
  background: rgba(47, 55, 64, 0.5);
  border-radius: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -1.3px -1.3px 2px rgb(143, 147, 152), 2px 2px 2px rgb(1, 2, 17);
          box-shadow: -1.3px -1.3px 2px rgb(143, 147, 152), 2px 2px 2px rgb(1, 2, 17);
}
.calc__child-panel {
  position: absolute;
  width: 60%;
  height: 25px;
  -webkit-box-shadow: inset -4px -4px 4px -4px rgb(143, 147, 152);
          box-shadow: inset -4px -4px 4px -4px rgb(143, 147, 152);
  top: 0;
  background: rgb(34, 39, 46);
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.calc__child-panel-curved {
  width: 30%;
  height: 5px;
  background: rgba(47, 55, 64, 0.5);
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: -1px -1px 2px rgb(143, 147, 152), 1.3px 1.3px 2px rgb(1, 2, 17);
          box-shadow: -1px -1px 2px rgb(143, 147, 152), 1.3px 1.3px 2px rgb(1, 2, 17);
  margin-top: 6px;
}
.calc__child-panel-flat {
  width: 99.2%;
  height: 5px;
  left: 0;
  background: rgb(34, 39, 46);
  border-radius: 3px;
  top: -4px;
  position: absolute;
}
.calc__screen {
  width: 90%;
  height: 80px;
  background: rgba(47, 55, 64, 0.5);
  margin-top: 50px;
  border-radius: 10px;
  -webkit-box-shadow: -1.3px -1.3px 2px rgba(143, 147, 152, 0.5), 7px 7px 8px rgba(1, 2, 17, 0.5);
          box-shadow: -1.3px -1.3px 2px rgba(143, 147, 152, 0.5), 7px 7px 8px rgba(1, 2, 17, 0.5);
  padding: 10px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.calc__screen input {
  background: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.calc__screen-small--container {
  width: 98%;
  border: none;
  outline: none;
  height: 18px;
  text-align: right;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -1px -1px 1px rgba(143, 147, 152, 0.5), 7px 7px 8px rgba(1, 2, 17, 0.5);
          box-shadow: -1px -1px 1px rgba(143, 147, 152, 0.5), 7px 7px 8px rgba(1, 2, 17, 0.5);
  margin-bottom: 10px;
  position: relative;
  color: rgba(117, 117, 117, 0.15);
  padding-left: 7px;
  padding-right: 7px;
}
.calc__screen-big--container {
  width: 98%;
  border: none;
  background: none;
  -webkit-box-shadow: -1px -1px 1px rgba(143, 147, 152, 0.5), 7px 7px 8px rgba(1, 2, 17, 0.5);
          box-shadow: -1px -1px 1px rgba(143, 147, 152, 0.5), 7px 7px 8px rgba(1, 2, 17, 0.5);
  height: 30px;
  font-size: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 2px;
  text-align: left;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Mareola1;
  color: rgba(117, 117, 117, 0.15);
}
.calc__screen-big--container div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 12px;
  padding-right: 5px;
}
.calc__screen-small {
  font-size: 1rem;
  font-family: Mareola1;
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgb(117, 117, 117);
  text-align: right;
  padding-left: 7px;
  padding-right: 4px;
  padding-top: 2px;
  outline: none;
  padding-bottom: 3px;
  border: none;
}
.calc__screen-big {
  font-size: 2rem;
  font-family: Mareola1;
  left: 0;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 3px;
  text-align: right;
  padding-left: 7px;
  padding-right: 10px;
  text-shadow: 0.1px 0.1px 0.1px rgba(47, 55, 64, 0.5), 0.1px -0.1px 0.1px rgba(1, 2, 17, 0.5), -0.1px 0.1px 0.1px rgba(1, 2, 17, 0.5), -0.1px -0.1px 0.1px rgba(1, 2, 17, 0.5);
  border: none;
  letter-spacing: 2px;
  color: rgb(117, 117, 117);
  outline: none;
}
.calc__controls {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  gap: 15px;
  background: none;
  position: relative;
}
.calc__controls-one {
  width: 20px;
  height: 20px;
  -webkit-box-shadow: inset -1px -1px 1px rgba(143, 147, 152, 0.5), inset 6px 6px 7px rgba(1, 2, 17, 0.5);
          box-shadow: inset -1px -1px 1px rgba(143, 147, 152, 0.5), inset 6px 6px 7px rgba(1, 2, 17, 0.5);
  border-radius: 50%;
  cursor: pointer;
  color: rgba(1, 2, 17, 0.35);
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0.3px 0.3px 0.3px rgba(47, 55, 64, 0.5), 0.3px -0.3px 0.3px rgba(1, 2, 17, 0.5), -0.3px 0.3px 0.3px rgba(1, 2, 17, 0.5), -0.3px -0.3px 0.3px rgba(1, 2, 17, 0.5);
}
.calc__controls-one:last-child {
  position: absolute;
  right: 0;
}
.calc__top-fixed {
  height: 45px;
  width: 90%;
  background: rgba(239, 0, 1, 0.25);
  margin-top: 10px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-shadow: inset -1px -1px 1px rgba(143, 147, 152, 0.5), inset 5px 5px 6px rgba(1, 2, 17, 0.5);
          box-shadow: inset -1px -1px 1px rgba(143, 147, 152, 0.5), inset 5px 5px 6px rgba(1, 2, 17, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.calc__top-fixed-panel {
  height: 100%;
  width: 100%;
  background: rgba(47, 55, 64, 0.5);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}
.calc__top-fixed-panel button {
  width: 100%;
  border-radius: 5px;
  background: none;
  border: none;
  height: 100%;
  font-size: 1.1rem;
  font-family: sans-serif;
  font-weight: bold;
  color: transparent;
  text-shadow: 0.3px 0.3px 0.3px rgba(47, 55, 64, 0.5), 0.3px -0.3px 0.3px rgba(1, 2, 17, 0.5), -0.3px 0.3px 0.3px rgba(1, 2, 17, 0.5), -0.3px -0.3px 0.3px rgba(1, 2, 17, 0.5);
  -webkit-box-shadow: -1.3px -1.3px 2px rgba(143, 147, 152, 0.5), 7px 7px 8px rgba(1, 2, 17, 0.5);
          box-shadow: -1.3px -1.3px 2px rgba(143, 147, 152, 0.5), 7px 7px 8px rgba(1, 2, 17, 0.5);
  cursor: pointer;
}
.calc__bottom-fixed {
  width: 90%;
  display: grid;
  grid-template-columns: 76% 20%;
  background: none;
  margin-top: 10px;
  grid-gap: 10px;
  height: 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.calc__bottom-fixed-1 {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -1px -1px 1px rgba(143, 147, 152, 0.5), inset 4.5px 4.5px 5.5px rgba(4, 0, 4, 0.5);
          box-shadow: inset -1px -1px 1px rgba(143, 147, 152, 0.5), inset 4.5px 4.5px 5.5px rgba(4, 0, 4, 0.5);
  padding: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.calc__bottom-fixed-1-inner {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}
.calc__bottom-fixed-1-inner::-webkit-scrollbar {
  height: 0px;
}
.calc__bottom-fixed-1-inner-panel {
  width: 200%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.calc__bottom-fixed-1-inner-panel-1 {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.calc__bottom-fixed-1-inner-panel-1 button {
  width: 100%;
  border-radius: 5px;
  background: none;
  border: none;
  height: 100%;
  font-size: 1.1rem;
  font-family: sans-serif;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: transparent;
  text-shadow: 0.3px 0.3px 0.3px rgba(47, 55, 64, 0.5), 0.3px -0.3px 0.3px rgba(1, 2, 17, 0.5), -0.3px 0.3px 0.3px rgba(1, 2, 17, 0.5), -0.3px -0.3px 0.3px rgba(1, 2, 17, 0.5);
  cursor: pointer;
}
.calc__bottom-fixed-2 {
  width: 100%;
  height: 100%;
  background: rgba(239, 0, 1, 0.25);
  -webkit-box-shadow: inset -1px -1px 1px rgba(143, 147, 152, 0.5), inset 5px 5px 6px rgba(1, 2, 17, 0.5);
          box-shadow: inset -1px -1px 1px rgba(143, 147, 152, 0.5), inset 5px 5px 6px rgba(1, 2, 17, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 5px;
  padding: 5px;
}/*# sourceMappingURL=main.css.map */